<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="" method="POST">
       <label for="fullUrl">Url</label>
       <input type="url" name="fullUrl" id="fullUrl">
       <button type="submit">Shrink</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">https://github.com/vanisingh-24</a></td>
                <td><a href="abcdefg">abcdefg</a></td> 
                <td>10</td> 
            </tr>
        </tbody>
    </table>
</body>
</html>